<div class="panel products">
  <span class="products__title">Похожие товары</span>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>

  <div class="products-item">
    <div class="products-item__image">
      <img src="" alt="" />
    </div>
    <div class="products-item__wrapper">
      <div class="products__in-stock">В наличии</div>
      <div class="products-item__title">Смесь м300 FINGERS 50кг</div>
    </div>
    <span class="products-item__price">160</span>

    <!-- quantity -->
    <%- include('../components/quantity') %>
    <div class="products-item__wrapper">
      <span class="products-item__price">160</span>
      <p><span>Вес:</span><span>50кг</span></p>
      <p><span>Количество:</span><span>1шт</span></p>
    </div>

    <button class="button button--accent">В корзину</button>
  </div>
</div>
